*.png
*.html
.aws
.snakemake*
*.sh.*
*.out
slurm-*
benchmarks
logs
data
sqlite
report
output
rpackages
.texlive2019
check
._*
*/._*
*/*/._*
*/*/*/._*
*/*/*/*/._*
*/*/*/*/*/._*
.DS_Store*
*/.DS_Store*
*/*/.DS_Store*
*/*/*/.DS_Store*
*/*/*/*/.DS_Store*
*/*/*/*/*/.DS_Store*
.fuse*
*/.fuse*
*/*/.fuse*
*/*/*/.fuse*
*/*/*/*/.fuse*
*/*/*/*/*/.fuse*
libs
check
reports